@model TStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "TStore: Your Cart";
}

<h2>Your cart</h2>

<table width="90%" align="center">
    <thead><tr>
         <th align="center">Add</th>
        <th align="center">Quantity</th>
        <th align="left">Item</th>
        <th align="left">Size</th>
        <th align="right">Price</th>
        <th align="right">SubTotal</th>
        </tr></thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines) { 
        <tr>
             <td align="center">
              @using (Html.BeginForm("AddToCart", "Cart")) { 
              @Html.Hidden("SpiderId", line.Spider.SpiderId)
              @Html.HiddenFor(x => x.ReturnUrl)
        <input class="actionButtons" type="submit" value="+" />
    }
        </td>
        <td align="center">@line.Quantity</td>
        <td align="left">@line.Spider.LatinName</td>
        <td align="left">@line.Spider.Size</td>
        <td align="right">@line.Spider.Price.ToString("c")</td>        
        <td align="right">@((line.Quantity * line.Spider.Price).ToString("c"))</td>
        <td>
            @using (Html.BeginForm("RemoveFromCart", "Cart")) { 
            @Html.Hidden("SpiderId", line.Spider.SpiderId)
            @Html.HiddenFor(x => x.ReturnUrl)
            <input class="actionButtons" type="submit" value="remove" />
            
            }
        </td>

        </tr>
        
        }

    </tbody>
    <tfoot><tr>
        <td colspan="3" align="right">Total:</td>
        <td align="right">
            @Model.Cart.ComputeTotalValue().ToString("c")
        </td>
        </tr></tfoot>
</table>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continue Shopping</a>
    @Html.ActionLink("Checkout Now", "Checkout")
</p>
